<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LCCheckDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAA4955A1F04C65C00D6F386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA495731F04C65D00D6F386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA4957E1F04C65D00D6F386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
